@import "../../../styles.scss";
$foreground: map-get($fitc-theme, foreground);
$border: 8px;

.root {
  border-radius: $border;
  display: flex;
  margin: $fitc-padding-md;
  background-color: #eee;
  color: map-get($foreground, disabled);

  .team {
    flex: 1;
    flex-basis: 0;
    padding: $fitc-padding-md;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.icon-root {
  display: flex;
  color: white;
  width: 100%;
  height: auto;
  margin-bottom: 8px;
  justify-content: center;

  &.tombstone {
    color: rgba(0, 0, 0, 0.8);
  }

  fa-icon {
    margin: 0 1.5px;
  }

  &.too-many {
    font-size: 1.3em;
  }
}

.blue-team {
  border-radius: $border 0 0 $border;
  border-bottom: 4px solid #ddd;
  align-items: flex-start;

  &.win {
    background-color: $blue;
    border-color: $dark-blue;
    color: white;
  }
}

.red-team {
  border-radius: 0 $border $border 0;
  border-bottom: 4px solid #ddd;

  &.win {
    background-color: $red;
    border-color: $dark-red;
    color: white;
  }
}

.timestamp {
  margin: -14px $fitc-padding-lg 2px;
  width: calc(100% - 3rem);

  color: map-get($foreground, disabled);
  text-align: right;
  font-size: 12px;
  font-style: italic;
}
