<div class="root">
  <div class="team blue-team" [class.win]="data.winner === 'blue'">
    <div
      class="icon-root"
      *ngIf="data.winner === 'blue'; else tombstone"
      [class.too-many]="data.winStreaks > 6"
    >
      <fa-icon
        [icon]="faCrown"
        class="crown"
        *ngFor="let _ of numCrowns(data.winStreaks)"
      ></fa-icon>
      <div *ngIf="data.winStreaks > 6">×{{ data.winStreaks }}</div>
    </div>
    <div class="chip-wrapper" *ngFor="let player of data.blue">
      <app-player-chip [player]="player"></app-player-chip>
    </div>
  </div>
  <div class="team red-team" [class.win]="data.winner === 'red'">
    <div
      class="icon-root"
      *ngIf="data.winner === 'red'; else tombstone"
      [class.too-many]="data.winStreaks > 6"
    >
      <fa-icon
        [icon]="faCrown"
        class="crown"
        *ngFor="let _ of numCrowns(data.winStreaks)"
      ></fa-icon>
      <div *ngIf="data.winStreaks > 6">×{{ data.winStreaks }}</div>
    </div>
    <div class="chip-wrapper" *ngFor="let player of data.red">
      <app-player-chip [player]="player"></app-player-chip>
    </div>
  </div>
</div>
<div class="timestamp">{{ data.createdAt.getTime() | timeago }}</div>

<ng-template #tombstone>
  <div class="icon-root">
    <fa-icon [icon]="faTombstone" class="tombstone"></fa-icon>
  </div>
</ng-template>
