@import "../../../styles.scss";
$height: 32px;

.dialog-content {
  display: flex;
  flex-direction: column;
}

.dialog-header {
  flex: 0;
  margin-top: 0;
}

.options-root {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-height: 70vh;

  .player {
    flex: 0 0 calc(50% - 9px);
    margin: 3px;
  }
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
}
