<div
  class="player-root row"
  *ngIf="player | async as player; else emptySummary"
>
  <div class="player-icon">Lv.{{ player.level }}</div>
  <div class="col">
    <div class="player-name">{{ player.name }}</div>
    <div *ngIf="isFitcDeveloper(player.ldap)" class="player-metainfo">
      FitC Developer (2019)
    </div>
    <div class="player-metainfo">
      Tenure: {{ player.createdAt.toDate() | timeago }}
    </div>
  </div>
  <div class="actions">
    <fa-icon
      class="icon-friends"
      [icon]="faUsers"
      (click)="openDialog()"
    ></fa-icon>
    <fa-icon
      *ngIf="myLdap !== player.ldap"
      class="icon-me"
      [icon]="faFingerprint"
      (click)="goMyPage()"
    ></fa-icon>
  </div>
</div>
<ng-template #emptySummary>
  <div class="player-root row">
    <div class="player-icon">Lv.??</div>
    <div class="col">
      <div class="player-name">Foosball player</div>
      <div class="player-tenure">Tenure: 42 minutes ago</div>
    </div>
  </div>
</ng-template>

<mat-list class="stats-root" *ngIf="playerStats | async as playerStats">
  <mat-list-item>
    <div class="single-line-stats">
      <span class="label">Total Wins</span>
      <span class="value">{{ playerStats.totalWins }}</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="single-line-stats">
      <span class="label">Total Losses</span>
      <span class="value">{{ playerStats.totalLoses }}</span>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div class="single-line-stats">
      <span class="label">Most Win Streaks</span>
      <span class="value">{{ playerStats.mostWinStreaks }}</span>
    </div>
  </mat-list-item>
  <mat-list-item
    class="contains-chart"
    *ngIf="playerStats.recentGames.length > 0"
  >
    <div class="chart-stats">
      <div class="label">Recent Games</div>
      <div class="chart-wrapper">
        <ngx-charts-line-chart
          [results]="buildChartData(playerStats)"
          [scheme]="colorScheme"
          [gradient]="true"
          [tooltipDisabled]="true"
          [xAxis]="true"
          [autoScale]="true"
        >
        </ngx-charts-line-chart>
      </div>
      <ng-template #noRecentGames> </ng-template>
    </div>
  </mat-list-item>
  <mat-list-item *ngIf="playerRivalStats | async">
    <div class="single-line-stats">
      <div class="label">Rival Stats</div>
    </div>
  </mat-list-item>
  <mat-list class="rival-stats" dense>
    <mat-list-item *ngFor="let rivalStats of playerRivalStats | async">
      <div class="single-line-stats">
        <div class="label">{{ rivalStats.rival }}</div>
        <div class="value">
          {{ rivalStats.totalWins }} : {{ rivalStats.totalLoses }} ({{
            winRate(rivalStats)
          }}%)
        </div>
      </div>
    </mat-list-item>
  </mat-list>
  <div class="bottom-padding"></div>
</mat-list>
