@import "~material-bottom-nav";
@import "../styles.scss";

.mat-toolbar {
  background: $fitc-color-default-blue;
  color: $white;
  display: flex;
  justify-content: center;
}

.content-container {
  background: $fitc-color-default-grey;
  bottom: 56px;
  left: 0;
  overflow-y: scroll;
  right: 0;
  position: fixed;
  top: 56px;
}

.bottom-nav {
  @include bottom-nav($background-color:$fitc-color-light-grey, $active-color: #e1e2e1, $inactive-color: #E0E0E0, $hide-inactive-labels: false);
  box-shadow: none;

  >a {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
    
    &.active {
      color: $fitc-color-default-blue;
    }
  }

  .mat-icon {
    font-size: 24px;
  }

  span {
    font-size: 14px;
  }
}

  