.mat-list {
    background: #e6e6e6;
    padding-top: 0;

    .mat-list-item {
        background: #fbfcfb;
        border-radius: 4px;
        height: auto;
        margin: 8px;
        padding: 16px;
        width: auto;
    
        ::ng-deep .mat-list-item-content {
            padding: 0;
        }    
        // &.recent-game-item {
        //     border-bottom: 1px solid #e6e6e6;
        //     padding: 4px 0 4px 0;
        // }
    }
}