@import "../../../styles.scss";

.mat-list {
  padding-top: 0;

  .history-item-container {
    margin: 8px 16px;

    .date {
      color: $fitc-color-darkest-grey;
      display: block;
      padding: $fitc-padding-sm $fitc-padding-sm $fitc-padding-xs
        $fitc-padding-sm;
    }

    .mat-list-item {
      background: $white;
      border: 1px solid $fitc-color-default-grey;
      border-radius: 8px;
      height: auto;
      overflow: hidden;
      width: auto;

      &.event-item {
        ::ng-deep .mat-list-item-content {
          display: flex;
          flex-direction: column;
          padding: 0;

          .menu {
            align-items: center;
            color: $white;
            display: flex;
            font-weight: 500;
            height: 35px;
            justify-content: center;
            width: 100%;

            &.demotion {
              background-image: -webkit-linear-gradient(
                30deg,
                $dark-red 50%,
                $red 50%
              );
            }

            &.promotion {
              background-image: -webkit-linear-gradient(
                30deg,
                $dark-blue 50%,
                $blue 50%
              );
            }

            > span:first-child {
              margin-left: 8px;
            }
            > span:last-child {
              font-weight: 300;
              font-size: 14px;
              margin-left: auto;
              margin-right: 8px;
            }
          }

          .info {
            align-items: center;
            display: flex;
            justify-content: center;
            padding: 6px;
            width: 100%;

            > span:first-child {
              font-weight: 500;
            }
            > span:last-child {
              font-weight: 300;
              margin-left: auto;
            }
          }
        }
      }

      &.record-item ::ng-deep .mat-list-item-content {
        padding: 0;

        .col {
          flex: 0.5;

          > * {
            padding: $fitc-padding-sm;
          }

          .menu {
            color: white;
            display: flex;
            font-weight: 500;
            justify-content: center;
          }

          &.win-col {
            .menu {
              background: $blue;
            }
            .info {
              border-right: 1px solid $fitc-color-default-grey;
            }
          }

          &.lose-col {
            .menu {
              background: $red;
            }
          }
        }
      }
    }
  }
}
