@import "../../../styles.scss";

.mat-list {
    padding-top: 0;

    .mat-list-item {
        border-bottom: 1px solid $fitc-color-light-grey;
        height: auto;
        padding: 16px 32px 16px 32px;
        width: auto;
    
        ::ng-deep .mat-list-item-content {
            padding: 0;
        }
    }
}