
@import "../../../styles.scss";

.row {
    padding: 8px 16px 8px 16px;

    &.record-row {
        align-items: center;
        display: flex;
        justify-content: flex-end;
    }
}

form {
    display: flex;
    .mat-form-field {
        flex: 1;
    }
}

.mat-list .mat-list-item {
    height: auto;
    .win-btn {
        color: $blue;
    }
    .lose-btn {
        color: $red;
    }
    .profile {
        flex: 1;
    }
}
