@import "../../../styles.scss";

$foreground: map-get($fitc-theme, foreground);
$background: map-get($fitc-theme, background);

.container {
  padding: $fitc-padding-lg;
}

.game-staging {
  display: block;
  margin-bottom: $fitc-padding-lg;
}

.bench {
  display: flex;
  width: calc(100% + 24px);
  margin: 0 -12px;
  flex-wrap: wrap;
  justify-content: space-between;

  * {
    flex: 0 0 calc(50% - 2px);
    margin-bottom: 6px;
  }
  $height: 32px;

  .chip-placeholder {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    height: $height;
    border-radius: $height / 2;
    border: 1px dashed rgba(0, 0, 0, 0.3);
    font-size: 14px;
  }
}

.actions-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: $fitc-padding-xlg 0;

  .record-button {
    border-radius: 8px;
    border-bottom: 3px solid rgba(0, 0, 0, 0.1);
    font-family: "Google Sans";
    background-color: map-get($fitc-accent, default);
    color: map-get($fitc-accent, default-contrast);

    &[disabled] {
      background-color: map-get($background, disabled-button);
      color: map-get($foreground, disabled);
    }
  }
}

.divider {
  height: 1px;
  border: 0;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0)
  );
}

.events {
  margin-bottom: $fitc-padding-xlg;

  .event-message {
    display: block;
    margin-bottom: $fitc-padding-md;
  }
}

.near-update {
  .near-update-item {
    font-size: 14px;
    text-align: center;
    margin-bottom: $fitc-padding-sm;
  }
}
