<!-- Recent players -->
<div class="container">
  <app-game-staging
    class="game-staging"
    [alpha]="table.alpha"
    [bravo]="table.bravo"
    [charlie]="table.charlie"
    [delta]="table.delta"
    [nextEmpty]="nextStagingSlot()"
    [winningTeam]="table.winningTeam"
    (teamClick)="onSelectTeam($event)"
  >
  </app-game-staging>

  <h2 class="bench-heading">Bench</h2>

  <div class="bench">
    <app-player-chip
      *ngFor="let player of table.benchPlayers | async"
      [player]="player"
      [selected]="inStaging(player.ldap)"
      [removable]="!inStaging(player.ldap)"
      (remove)="removeFromBench(player.ldap)"
      (click)="toggleStaging(player.ldap)"
    >
    </app-player-chip>
    <div
      class="chip-placeholder"
      mat-button
      *ngIf="!(inBench(myLdap) | async)"
      (click)="addToBench(myLdap)"
    >
      Add Me
    </div>
    <div class="chip-placeholder" mat-button (click)="openDialog()">
      Add Player
    </div>
  </div>

  <!-- Record game -->
  <div class="actions-row">
    <button
      class="record-button"
      mat-button
      (click)="onSubmit()"
      [disabled]="!readyToSubmit()"
    >
      Record Game
    </button>
  </div>

  <div *ngIf="(recentEvents | async)?.length > 0">
    <hr class="divider" />
    <h2 class="recent-updates-heading">Recent Updates</h2>

    <div class="events">
      <app-event-message
        class="event-message"
        *ngFor="let event of recentEvents | async"
        [data]="event"
        [showDate]="false"
        shape="round"
      >
      </app-event-message>
    </div>
  </div>

  <div class="near-update" *ngIf="(playerStats.candidates | async)?.length > 0">
    <hr class="divider" />
    <h2 class="near-update-heading">Near Update</h2>
    <div>
      <div
        class="near-update-item"
        *ngFor="let candidate of playerStats.candidates | async"
      >
        <div *ngIf="candidate.moreWins">
          {{ candidate.name }} will be <b>promoted</b> after
          {{ candidate.moreWins }}
          {{ candidate.moreWins > 1 ? "wins" : "win" }}!
        </div>
        <div *ngIf="candidate.moreLosses">
          {{ candidate.name }} will be <b>demoted</b> after
          {{ candidate.moreLosses }}
          {{ candidate.moreLosses > 1 ? "losses" : "loss" }}.
        </div>
      </div>
    </div>
  </div>
</div>
