<!-- Recent players -->
<div class="container">
  <app-game-staging
    [alpha]="alpha"
    [bravo]="bravo"
    [charlie]="charlie"
    [delta]="delta"
    [nextEmpty]="nextStagingSlot()"
    [winningTeam]="winningTeam"
    (teamClick)="onSelectTeam($event)"
  >
  </app-game-staging>

  <h2>Bench</h2>

  <div class="bench">
    <app-player-chip
      *ngFor="let player of benchPlayers | async"
      [player]="player"
      [selected]="inStaging(player.ldap)"
      [removable]="!inStaging(player.ldap)"
      (remove)="removeFromBench(player.ldap)"
      (click)="toggleStaging(player.ldap)"
    >
    </app-player-chip>
    <div
      class="chip-placeholder"
      mat-button
      *ngIf="!(inBench(myLdap) | async)"
      (click)="addToBench(myLdap)"
    >
      Add Me
    </div>
    <div class="chip-placeholder" mat-button (click)="openDialog()">
      Add Player
    </div>
  </div>

  <!-- Record game -->
  <div class="actions-row">
    <button
      class="record-button"
      mat-button
      (click)="onSubmit()"
      [disabled]="!readyToSubmit()"
    >
      Record Game
    </button>
  </div>

  <div *ngIf="(recentEvents | async)?.length > 0">
    <h2>Recent Events</h2>

    <div class="events">
      <app-event-message
        class="event-message"
        *ngFor="let event of recentEvents | async"
        [data]="event"
        [showDate]="false"
        shape="round"
      >
      </app-event-message>
    </div>
  </div>
</div>
