<!-- Recent players -->
<mat-list *ngIf="recentPlayers | async as recentPlayers">
  <mat-list-item *ngFor="let player of recentPlayers">
    <div class="profile">[{{ player.level }}] {{ player.name }}</div>
    <button class="win-btn"
      mat-button
      (click)="toggleWinner(player.ldap)"
      [style.color]="isWinner(player.ldap) ? 'blue' : 'black'"
    >
      {{ isDraw ? "Team1" : "Win" }}
    </button>
    <button class="lose-btn"
      mat-button
      (click)="toggleLoser(player.ldap)"
      [style.color]="isLoser(player.ldap) ? 'red' : 'black'"
    >
      {{ isDraw ? "Team2" : "Lose" }}
    </button>
    <button mat-button (click)="removeFromRecentPlayers(player.ldap)">
      Delete
    </button>
  </mat-list-item>
</mat-list>
<div class="row">
  <button mat-button (click)="openDialog()">Add player</button>
</div>
<div class="row">
  <form>
    <mat-form-field>
      <input matInput placeholder="ldap" (focus)="onFocus()" [(ngModel)]="ldapInput" [formControl]="ldapForm" [matAutocomplete]="auto"/>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option.name}} ({{option.ldap}}@)
      </mat-option>
    </mat-autocomplete>
    <button mat-button (click)="addToRecentPlayers(ldapInput.ldap)">Add</button>
  </form>
</div>
<!-- Record game -->
<div class="row record-row">
  <mat-checkbox [(ngModel)]="isDraw">isDraw</mat-checkbox>
  <button mat-button (click)="recordGame()">Record Game</button>
</div>
