<div>
  <div *ngIf="me | async as me">
    Hello, {{me.name}}.
  </div>

  <div *ngIf="recentPlayers | async as recentPlayers">
    Recent players
    <ul>
      <li *ngFor="let player of recentPlayers">
        [{{player.level}}] {{player.name}}
        <a (click)="toggleWinner(player.ldap)" 
            [style.color]="isWinner(player.ldap) ? 'blue' : 'black'">
          {{ isDraw ? '[Team1]' : '[Win]' }}
        </a>
        <a (click)="toggleLoser(player.ldap)" 
            [style.color]="isLoser(player.ldap) ? 'red' : 'black'">
          {{ isDraw ? '[Team2]' : '[Lose]' }}
        </a>
        <a (click)="removeFromRecentPlayers(player.ldap)">[Del]</a>
      </li>
    </ul>
    <div>
      isDraw <input type="checkbox" [(ngModel)]="isDraw">
    </div>
    <input type="text" [(ngModel)]="ldapInput">
    <button (click)="addToRecentPlayers(ldapInput)">
      Add
    </button>
    <button (click)="recordGame()">
      Record Game
    </button>
    <!-- End of hacky workaround -->
  </div>

  <div>
    Recent games
    <ul>
      <li *ngFor="let record of records | async">
        Winners: {{ record.winners[0] }}, {{ record.winners[1] }} <br>
        Losers: {{ record.losers[0] }}, {{ record.losers[1] }} <br>
        isDraw: {{ record.isDraw }} <br>
        winStreaks: {{ record.winStreaks }} <br>
        createdAt: {{ record.createdAt }}
      </li>
    </ul>
  </div>
</div>
