<div>
  <div *ngIf="me | async as me">
    Hello, {{me.name}}.
  </div>

  <div *ngIf="recentPlayers | async as recentPlayers">
    Recent players
    <ul>
      <li *ngFor="let player of recentPlayers">
        [{{player.level}}] {{player.name}}
        <a (click)="toggleWinner(player.ldap)" 
            [style.color]="isWinner(player.ldap) ? 'blue' : 'black'">
          {{ isTie ? '[Team1]' : '[Win]' }}
        </a>
        <a (click)="toggleLoser(player.ldap)" 
            [style.color]="isLoser(player.ldap) ? 'red' : 'black'">
          {{ isTie ? '[Team2]' : '[Lose]' }}
        </a>
        <a (click)="removeFromRecentPlayers(player.ldap)">[Del]</a>
      </li>
    </ul>
    <div>
      IsTie <input type="checkbox" [(ngModel)]="isTie">
    </div>
    <input type="text" [(ngModel)]="ldapInput">
    <button (click)="addToRecentPlayers(ldapInput)">
      Add
    </button>
    <!-- Hacky workaround to use lastRecord with async pipe. -->
    <div *ngIf="lastRecord | async as lastRecord; else withoutRecord">
      <button (click)="recordGame(lastRecord)"> 
        Record Game
      </button>
    </div>
    <ng-template #withoutRecord>
      <button (click)="recordGame()">
        Record Game
      </button>
    </ng-template>
    <!-- End of hacky workaround -->
  </div>

  <div>
    Recent games
    <ul>
      <li *ngFor="let record of records | async">
        Winners: {{ record.winners[0].ldap }}, {{ record.winners[1].ldap }} <br>
        Losers: {{ record.losers[0].ldap }}, {{ record.losers[1].ldap }} <br>
        isTie: {{ record.isTie }} <br>
        winStreaks: {{ record.winStreaks }} <br>
        createdAt: {{ record.createdAt }}
      </li>
    </ul>
  </div>
</div>
