@import "../../../styles.scss";

$foreground: map-get($fitc-theme, foreground);

@mixin gradient-animation-background($name, $color1, $color2) {
  background: linear-gradient(270deg, $color1, $color2);
  background-size: 400% 400%;
  animation: $name 10s ease infinite;

  @keyframes #{$name} {
    0% {
      background-position: 50% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 50% 50%;
    }
  }
}

.event-message {
  display: flex;
  padding: $fitc-padding-md;
  justify-content: center;
  align-items: center;
  color: white;
  border-bottom: 4px solid rgba(0, 0, 0, 0.1);

  &.promotion {
    @include gradient-animation-background(promotion, #b7f8db, #50a7c2);
  }
  &.demotion {
    @include gradient-animation-background(promotion, #ffc3a0, #ffafbd);
  }

  &.round {
    border-radius: 8px;
  }
}

.timestamp {
  margin: $fitc-padding-xs $fitc-padding-lg;
  color: map-get($foreground, disabled);
  text-align: right;
  font-size: 12px;
  font-style: italic;

  &.hidden {
    display: none;
  }
}
